.dp{
    background-color: black;
}
.dp a{
    color: rgb(199, 199, 18);
}
.br{
    font-family: 'Courier New', Courier; 
    font-size: 3.4em; 
    color: rgb(199, 199, 18);
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: transparent !important;
    color: rgb(199, 199, 18);
}
.carousel-item {
  height: auto;
  max-height: 88vh; 
}

.carousel-item img {
  width: 100%;
  height: auto;  
  object-fit: cover;
  object-position: center;
}
.cd .card-img-top{
    height: 17rem;
    border-radius: 1rem;
}
.cd{
    border-radius: 1rem;
    height: 41rem;
    transition: transform 0.3s;
}
.gallery-img {
    overflow: hidden;
    position: relative;
}
.gallery-img img {
    transition: transform 0.3s;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.gallery-img:hover img {
    transform: scale(1.05);
}
.gallery-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.cd:hover{
    transform: scale(1.02);
}
/* Serving Team Page Styles */
blockquote {
  font-style: italic;
  border-left: 5px solid #ffc107;
  padding-left: 1rem;
  font-size:0.5rem;
}

.bg-light {
  background-color: #f8f9fa;
}

.cr .card-body h5 {
  color: #333;
}
.im{
  border-radius: 0.5rem;
  height: 18rem;
}
.nv{
   padding-top: 0.1rem; 
   padding-bottom:0.1rem;
}
.bn{
  font-size: 3rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.buffet-img-wrapper img {
  width: 110rem;
  height: 12rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.sc {
  font-family: 'YourHeadingFont', sans-serif;
  color: #333;
}
.sign{
  border-radius: 1rem;
  background-color: whitesmoke;
}
/* Custom styles for the controls */
.control-input, .control-select {
  border: 2px solid #ced4da;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  width: 100%;
}

.control-input:focus,
.control-select:focus {
  border-color: #ffc107;
}

/* crockery page  */
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 10px;
}

@media(max-width:600px){
  .card-container { grid-template-columns: repeat(2, 1fr); }
}

@media(min-width:900px){
.card-container { grid-template-columns: repeat(4, 1fr); }
}

.pro{
 border: 1px solid #ccc;
 border-radius: 8px;
 overflow: hidden;
 cursor: pointer;
}

.pro img { width: 100%;height: 300px; }

.pro-body { padding: 0.5rem}
.pro-body h3 { margin: 0 0 1rem; }

/* sticky */
.sticky-order-btn {
  position: fixed;
  bottom: 30px;
  right: 10px;    
  padding: 10px 10px;
  border-radius: 12px;
}
#order-list{
  min-height: 800px;
}
.error{
  color: red;
  font-size: 12px;
}





